.zshrc_secret
.secrets/api_keys.json
.config/rio/log/

Library/Rime/*.userdb
Library/Rime/user.yaml
Library/Rime/installation.yaml

.DS_Store

# Zed prompt library runtime lock
.config/zed/prompts/prompts-library-db.0.mdb/lock.mdb
